<link rel="stylesheet" href="/css/styles.css">

<a href="airdrops" style="text-decoration: none;">
    
  <div class="card indexcard mt-3">
    <div class="card-body">
      <h5 class="card-title" style="color: white;">Airdrops</h5>
      <p class="card-text" style="color: white;">Apps like: Blum, Notcoin etc.</p>
    </div>
  </div>

</a>

<a href="" style="text-decoration: none;">
  <div class="card indexcard mt-3">
    <div class="card-body">
      <h5 class="card-title" style="color: white;">Tools <p style="color:darkgray;">Soon</p></h5>
      <p class="card-text" style="color: white;">VPN, Trading bots etc.</p>
    </div>
  </div>
</a>

<a href="wallets" style="text-decoration: none;">
  <div class="card indexcard mt-3">
    <div class="card-body">
      <h5 class="card-title" style="color: white;">Wallets</h5>
      <p class="card-text" style="color: white;">Apps like: DeWallet, CryptoBot etc.</p>
    </div>
  </div>
</a>

<a href="" style="text-decoration: none;">
  <div class="card indexcard mt-3">
    <div class="card-body">
      <h5 class="card-title" style="color: white;">Featured <p style="color:darkgray;">Soon</p></h5>
      <p class="card-text" style="color: white;">Recomended apps</p>
    </div>
  </div>
</a>

<a href="favorites" style="text-decoration: none;">
  <div class="card indexcard mt-3">
    <div class="card-body">
      <h5 class="card-title" style="color: white;">Your list</h5>
      <p class="card-text" style="color: white;">Add your favourite apps to find them faster</p>
    </div>
  </div>
</a>
