<link rel="stylesheet" href="/css/styles.css">

<div class="watafak fixed-bottom">

  <a href="/" class="" style="text-decoration: none;">
    <p class="gradient-border text-center" style="color: rgba(255, 255, 255, 0.55);">
      Back to home page
    </p>
  </a>

</div>
