<link rel="stylesheet" href="/css/styles.css">

  <div class="pisya ms-2 me-2">

    <div class="card glass-bg">
      <div class="card-body">
        <p class="card-text text-center" style="color: white;">
          If you liked the app you may as well follow <a class="ch-link" href="https://t.me/hamster_youngtea">our channel</a>
        </p>
      </div>
    </div>

  </div>
