<!DOCTYPE html>
<html lang="en">

  <%- include('includes/head'); %>

<body>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      
      <%- include('includes/sub'); %>
      <%- include('includes/mainpagecards') %>
      
    </div><!-- row -->
  
  </div><!-- container-fluid -->
<!--
https://t.me/OKX_official_bot/OKX_Racer?startapp=linkCode_41198082

http://t.me/muskempire_bot/game?startapp=hero1143240092

https://t.me/dogshouse_bot/join?startapp=0adPZI7FSk2XrKlQB16-Rg

https://t.me/notcoin_bot?start=er_27893293

https://t.me/lost_dogs_bot/lodoapp?startapp=ref-u_1143240092__s_574992-->
  
</body>
</html>