<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); %>

<body>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">

      <%- include('includes/sub'); %>

      <%- include('includes/walletcards'); %>

      <div class="space"></div>

      <%- include('includes/mainpage-btn'); %>
      
    </div><!-- row -->

  </div><!-- container-fluid -->
  
</body>
</html>